/* .CheckInInputs {
    font-size: .65rem;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}

.CheckInButton {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
} */
@media(min-width: 100vw) {
	.checkBox {
		flex-wrap: wrap;
	}
	.check {
		flex-direction: column;
	}
	input[type="text"]
{
	font-size:24px;
	border: 2px solid
}
}

@media(max-width: 1000px) {
	.check {
		width: 80%;
		/* height: 80%; */
	}
	.wee {
		text-align: center;
	}
	.goal {
		display: flex;
		flex-direction: column;
	}
	.checkButton {
		/* position: absolute;
		bottom: 0; */
	}
	input[type="text"]
{
	font-size:24px;
	border: 2px solid
}
	.wee p {
	font-size: 1.5rem;
	}
}

@media(max-width: 800px) {
	.check {
		width: 80%;
	}
	.wee {
		text-align: center;
	}
	input[type="text"]
{
	font-size:24px;
	border: 2px solid
}
}

@media(max-width: 600px) {
	.check {
		width: 100%;
		flex: 0 .5 auto;
		/* font-size: 2rem; */
	}
	.stuff {
		/* height: 100%; */
		width: 100%;
		vertical-align: middle;
	}
	.wee {
		text-align: center;
	}
	input[type="text"]
{
	font-size:24px;
	border: 2px solid
}
}

@media(max-width: 500px) {
	.check {
		width: 100vw;
		flex: 0 .5 2em;
	}
	.wee {
		text-align: center;
	}
}

@media(max-width: 400px) {
	.check {
		flex: 0 .5 2em;
		width: 110%;
	}
	.wee {
		text-align: center;
	}
	.checkButton {
		/* position: absolute;
		bottom: -70px; */
	}
}

@media(max-width: 300px) {
	.check {
		display: flex;
		/* flex-wrap: wrap; */
	}
}

@media()

.stuff {
	display: flex;
	flex-direction: column;
	/* height: 100%; */
}

.font {
	/* font-size: 1rem;
	color: #bc80ee;
	text-shadow: 0.5px 0.5px 0.5px black; */
	display: flex;
	position: relative;
	justify-content: center;
	align-items: flex-start;
}

.font p {
	font-size: 2rem;
	text-align: center;
	color: #4a218b;
}

.checkContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* margin-top: 46px; */
	margin-top: 5%;
	margin-bottom: 5%;
	/* height: 100%; */
}

.checkBox {
	/* position: absolute; */
	/* width: 600px; */
	display: flex;
	justify-content: center;
	background-color: transparent;
	border: none;
	border-radius: 50px;
	width: 100%;
	/* height: 100%; */
}

/* .font {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: flex-start;
}

.font p {
	font-size: 2rem;
	text-align: center;
	color: #4a218b;
} */

.stuff {
	/* display: flex;
	flex-direction: column; */
}

.check {
	/* top: 100px; */
	/* position: relative; */
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
	color: #bc80ee;
	/* box-sizing: border-box; */
	/* cursor: pointer;
	overflow: hidden; */
	outline: none;
	margin: 1%;
	padding: 10px;
	font-size: 20px;
	/* box-shadow: 0px 2px 8px rgb(0,0,0,0.18); */
	/* border: 2px solid #bc80ee; */
	/* border-radius: 10px; */
	height: 300px;
	line-height: 2.5em;
	/* white-space: nowrap; */
}

.checkButtonBox {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	/* position: relative; */
	/* top: 500px; */
	margin-top: 3vh;
}

.checkButton {
	background: linear-gradient(45deg, #bc80ee 50%, white 50%);
	background-size: 250% 100%;
	background-position: right bottom;
	background-repeat: no-repeat;
	display: flex;
	/* border: 0; */
	/* position: relative; */
	/* bottom: 400px; */
	/* right: 830px; */
	color: #bc80ee;
	/* background-color: red; */
	border-radius: 5px;
	margin: 1%;
	/* padding: 1.5% 5%; */
	transition: all ease-in-out .5s;
	font-size: 1.8rem;
	box-shadow: 0px 2px 8px rgb(0,0,0,0.18);
}

.checkButton:hover {
	background-position: left bottom;
	color: white;
}