.Logout {
    position: absolute;
    top: 0px;
    right: 50px;
    height: 100px;
    width: 100px;
}

.logoutButton {
    /* border: 2px solid #bc80ee; */
    font-size: 1rem;
    color: #bc80ee;
}