.nav {
    display: flex;
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1000;
    /* border-radius: 3px; */
    background-color: #bc80ee;
}

.goals {
    /* border-width: 3px;
    border-color: #bc80ee; */
    background-color: #bc80ee;
}

.goalsButton {
    background-color: #bc80ee;
    font-size: 1rem;
}

.checkinButton {
    background-color: #bc80ee;
    font-size: 1rem;
}

.reportsButton {
    background-color: #bc80ee;
    font-size: 1rem;
}


.nav:hover {
    /* background-color: #bc80ee; */

}

.home {
    transition: all ease-in-out .5s;
}
.home:hover {
    /* background-color: #bc80ee; */
}


